/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&family=Roboto+Mono&display=swap");
/* line 5, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* NAVBAR STYLING STARTS */
/* line 6, ../sass/partials/_header.scss */
.topnav {
  overflow: hidden;
  background-color: #F8F9FA;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* line 15, ../sass/partials/_header.scss */
.topnav a {
  float: left;
  display: block;
  color: #152032;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 17px;
}

/* line 25, ../sass/partials/_header.scss */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* line 30, ../sass/partials/_header.scss */
.topnav a.active {
  background-color: #d3d3d3;
  color: #152032;
}

/* line 35, ../sass/partials/_header.scss */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 40, ../sass/partials/_header.scss */
  .topnav a {
    display: none;
  }

  /* line 41, ../sass/partials/_header.scss */
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  /* line 49, ../sass/partials/_header.scss */
  .topnav.responsive {
    position: relative;
  }

  /* line 50, ../sass/partials/_header.scss */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* line 55, ../sass/partials/_header.scss */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  /* line 63, ../sass/partials/_header.scss */
  .topnav .logOut {
    float: right;
  }
}
/* line 2, ../sass/partials/_cadreshadow.scss */
.column {
  margin-top: 5%;
}
/* line 6, ../sass/partials/_cadreshadow.scss */
.column .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  width: 90%;
  border-collapse: collapse;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 14, ../sass/partials/_cadreshadow.scss */
.column .card .float, .column .card .float1, .column .card .float2 {
  margin-bottom: 8px;
}
/* line 17, ../sass/partials/_cadreshadow.scss */
.column .card .float1 {
  float: right;
}
/* line 21, ../sass/partials/_cadreshadow.scss */
.column .card .float2 {
  float: left;
}
/* line 25, ../sass/partials/_cadreshadow.scss */
.column .card .link {
  color: #152032;
}
/* line 28, ../sass/partials/_cadreshadow.scss */
.column .card .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
/* line 32, ../sass/partials/_cadreshadow.scss */
.column .card .row h4 {
  margin-top: 10px;
}
/* line 35, ../sass/partials/_cadreshadow.scss */
.column .card .row a {
  margin-right: 2%;
}
/* line 40, ../sass/partials/_cadreshadow.scss */
.column .card table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 2px solid #152032;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}
/* line 46, ../sass/partials/_cadreshadow.scss */
.column .card table td, .column .card table th {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 13px;
}
/* line 52, ../sass/partials/_cadreshadow.scss */
.column .card table tr:nth-child(even) {
  background-color: #dddddd;
}
/* line 55, ../sass/partials/_cadreshadow.scss */
.column .card table .thbottom {
  border-bottom: #BBB2B2 1px solid;
  text-align: center;
}
/* line 59, ../sass/partials/_cadreshadow.scss */
.column .card table thead {
  border: #152032 2px solid;
}
/* line 61, ../sass/partials/_cadreshadow.scss */
.column .card table thead tr th {
  font-weight: bold;
}
/* line 65, ../sass/partials/_cadreshadow.scss */
.column .card table .action {
  display: flex;
}
/* line 67, ../sass/partials/_cadreshadow.scss */
.column .card table .action form {
  margin-left: 1%;
}
/* line 75, ../sass/partials/_cadreshadow.scss */
.column .card .btn, .column .card .btnUpdate, .column .card .btnajout, .column .card .btnArchive {
  background-color: #152032;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 92, ../sass/partials/_cadreshadow.scss */
.column .card .btn2:hover {
  background-color: #39ACE7;
}
/* line 96, ../sass/partials/_cadreshadow.scss */
.column .card .btnUpdate {
  background-color: #ffc107;
}
/* line 106, ../sass/partials/_cadreshadow.scss */
.column .card .btnArchive {
  background-color: #dc3545;
}

/* table{
    border: #152032 2px solid ;
    thead{

        tr{
            border-color: #152032;
        }
    }
    .thbottom{
        border-bottom: #BBB2B2;
    }
} */
/* line 4, ../sass/partials/_form.scss */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 9, ../sass/partials/_form.scss */
.container, .container-login {
  margin-top: 3%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
}

/* line 17, ../sass/partials/_form.scss */
.container-login .form-control input, .form-control .input, .etu .input, .form-control select, .etu select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #F6F6F6;
  padding: 10px;
  font-size: 14px;
}

/* line 27, ../sass/partials/_form.scss */
.container-login {
  width: 50%;
  margin-top: 10%;
  box-shadow: #195777 0px 7px 20px 0px;
  background-color: #152032;
  color: #fff;
}
/* line 34, ../sass/partials/_form.scss */
.container-login .form-control .label {
  color: #39ACE7;
}
/* line 37, ../sass/partials/_form.scss */
.container-login .form-control input {
  background-color: #152032;
  border: 2px solid #152032;
  border-bottom: #39ACE7 2px solid;
  color: #f0f0f0;
}

/* line 48, ../sass/partials/_form.scss */
h2 {
  text-align: center;
  margin: 0 0 20px;
}

/* line 53, ../sass/partials/_form.scss */
.form {
  padding: 30px 40px;
}

/* line 57, ../sass/partials/_form.scss */
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

/* line 62, ../sass/partials/_form.scss */
.form-control label, .checkbox .check, .checkbox .label, .etu small {
  display: block;
  margin-bottom: 5px;
}

/* line 66, ../sass/partials/_form.scss */
.form-control label {
  color: #777;
}

/* line 75, ../sass/partials/_form.scss */
.fc2 {
  display: flex;
  justify-content: space-around;
}

/* line 80, ../sass/partials/_form.scss */
.form-control2 input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  background-color: #F6F6F6;
  padding: 16px;
  font-size: 14px;
}

/* line 89, ../sass/partials/_form.scss */
.form-control2 label {
  margin-bottom: 10px;
}

/* line 93, ../sass/partials/_form.scss */
.form-control2 select {
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  height: 60px;
  background-color: #F6F6F6;
  padding: 16px;
  font-size: 14px;
  outline: 0;
  width: 90%;
  margin-left: 4.8%;
}

/* line 105, ../sass/partials/_form.scss */
.checkbox {
  position: relative;
}

/* line 110, ../sass/partials/_form.scss */
form .row {
  display: flex;
}
/* line 112, ../sass/partials/_form.scss */
form .row .etu {
  flex: 1;
}

/* line 117, ../sass/partials/_form.scss */
.etu .input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #F6F6F6;
  padding: 10px;
  font-size: 14px;
}

/* line 129, ../sass/partials/_form.scss */
.checkbox .check {
  display: flex;
  margin-top: 2%;
}
/* line 132, ../sass/partials/_form.scss */
.checkbox .check input {
  margin-left: 1%;
  margin-top: 2px;
}
/* line 136, ../sass/partials/_form.scss */
.checkbox .check label {
  margin-left: 1%;
}

/* line 144, ../sass/partials/_form.scss */
.form-control select {
  outline: 0;
}

/* line 148, ../sass/partials/_form.scss */
.etu select {
  outline: 0;
}

/* line 152, ../sass/partials/_form.scss */
.form-control .input:focus {
  outline: 0;
  border-color: #39ACE7;
}

/* line 156, ../sass/partials/_form.scss */
.form-control.success input, .form-control.success select {
  border-color: #2ecc71;
}

/* line 159, ../sass/partials/_form.scss */
.form-control.error select, .form-control.error input {
  border-color: #e74c3c;
}

/* line 174, ../sass/partials/_form.scss */
.etu.success input {
  border-color: #2ecc71;
}

/* line 177, ../sass/partials/_form.scss */
.etu.error input {
  border-color: #e74c3c;
}

/* line 180, ../sass/partials/_form.scss */
.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* line 187, ../sass/partials/_form.scss */
.etu small {
  color: #e74c3c;
}

/* line 191, ../sass/partials/_form.scss */
.form-control.error small {
  visibility: visible;
}

/* line 195, ../sass/partials/_form.scss */
.form button {
  cursor: pointer;
  background-color: #152032;
  border: 2px solid #152032;
  border-radius: 4px;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 30%;
  box-shadow: #39ACE7 0px 7px 29px 0px;
}

/* line 212, ../sass/partials/_form.scss */
.form button:hover {
  background-color: #39ACE7;
  border: 2px solid #39ACE7;
}

/* line 217, ../sass/partials/_form.scss */
.form .btn-login {
  background-color: #39ACE7;
  border: 2px solid #39ACE7;
}

@media only screen and (max-width: 768px) {
  /* line 224, ../sass/partials/_form.scss */
  .form button {
    cursor: pointer;
    background-color: #152032;
    border: 2px solid #152032;
    border-radius: 4px;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-shadow: #39ACE7 0px 7px 29px 0px;
  }

  /* line 240, ../sass/partials/_form.scss */
  .container-login {
    width: 80%;
    margin-top: 10%;
    box-shadow: #195777 0px 7px 20px 0px;
    background-color: #152032;
    color: #fff;
  }
  /* line 246, ../sass/partials/_form.scss */
  .container-login .form-control .label {
    color: #39ACE7;
  }
}
/* line 3, ../sass/partials/_formfiltre.scss */
.form-filtre {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  justify-content: space-around;
}

/* line 10, ../sass/partials/_formfiltre.scss */
.selectCheck select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  background-color: #F6F6F6;
  padding: 10px;
  font-size: 14px;
  width: 140px;
  cursor: pointer;
}

/* line 20, ../sass/partials/_formfiltre.scss */
.selectCheck select option {
  cursor: pointer;
}

/* line 23, ../sass/partials/_formfiltre.scss */
.btn-valide {
  background-color: #152032;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 33, ../sass/partials/_formfiltre.scss */
.btn-valide:hover {
  background-color: #39ACE7;
}

/* line 1, ../sass/partials/_itemspaginate.scss */
.p {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

/* line 6, ../sass/partials/_itemspaginate.scss */
.pagination {
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* line 11, ../sass/partials/_itemspaginate.scss */
.pagination a {
  color: black;
  float: left;
  padding: 12px 20px;
  text-decoration: none;
  border: 2px solid #ddd;
}

/* line 18, ../sass/partials/_itemspaginate.scss */
.laquo {
  background: #fff;
}

/* line 22, ../sass/partials/_itemspaginate.scss */
.pagination .active {
  background-color: #152032;
  color: white;
  border: 2px solid #152032;
}

/* line 29, ../sass/partials/_itemspaginate.scss */
.pagination a:hover:not(.active) {
  background-color: #152032;
  color: #fff;
}

/* line 16, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 21, ../sass/screen.scss */
body {
  font-family: 'Roboto Mono' , sans-serif;
  justify-content: center;
  align-items: center;
}

/* line 26, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 29, ../sass/screen.scss */
.d-none {
  display: none;
}

/* line 32, ../sass/screen.scss */
input[type=radio] {
  cursor: pointer;
}

/* line 36, ../sass/screen.scss */
li {
  list-style: none;
}

/*  @media only screen and (max-width: 768px) {
    td{
        display: flex;
    }
 } */
