$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-connexion: #195777 0px 7px 20px 0px;
$shadow2: #39ACE7 0px 7px 29px 0px;
$colorRed:#dc3545;
$colorPrimary:#152032;
$colorYellow:#ffc107;
$succes:#2ecc71;
$error:#e74c3c;
$color2:#39ACE7;

